// BACKGROUND
$colorPrimary: #6366f1;
$colorSecondary: #fffbeb;

// TEXT
$colorText: #111827;

// BUTTON
$colorBtn: #312e81;
$colorBtnHover: #292768;

// CTA
$colorCta: #bc1d1d;
$colorCtaHover: #971d1d;

// ERROR
$colorError: #ff0000;
